<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.OSS_USERNAME}</username>
            <password>${env.OSS_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>${env.GPG_KEY}</gpg.keyname>
                <!--gpg.passphrase>${env.GPG_PASSWORD}</gpg.passphrase-->
            </properties>
        </profile>
    </profiles>
</settings>