# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java#apache-maven-with-a-settings-path

name: publish-snapshot

on:
  repository_dispatch:
    types: [publish-snapshot]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Set up GPG
      run: |
        echo "$GPG_KEY" > private.asc
        gpg --import --batch private.asc
      env:
        GPG_KEY: ${{ secrets.signingKey }}
    - name: Publish to OSS Repository Apache Maven
      run: mvn deploy -s settings.xml -Dgpg.passphrase=${GPG_PASSWORD}
      env:
        OSS_USERNAME: ${{ secrets.ossrhUsername }}
        OSS_PASSWORD: ${{ secrets.ossrhPassword }}
        GPG_KEY: ${{ secrets.signingKey }}
        GPG_PASSWORD: ${{ secrets.signingPassword }}
